.container {
  margin: 40px 60px;
  display: flex !important;
  justify-content: space-between !important;
  border-radius: 10px;
  align-items: center !important;
  transition: all 0.1s !important;
}

.container:hover {
  /* cursor: pointer !important; */
  transform: scale(1.005) !important;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center !important;
}

.buttonContainer .custom-icon:hover {
  fill: #ec729c;
}

.note-text-container {
  display: flex !important;
  align-items: center;
  gap: 30px;
}

.note-text-container .note-text-container {
  display: flex !important;
  flex-direction: column !important;
}

.note-text-container .title-and-label p {
  margin: unset !important;
  text-align: center !important;
}

.note-text-container .title-and-label .title {
  font-weight: bold;
  font-size: 20px;
}
